header{
    background-color: bisque;
    border: 1px solid black;    
}

h1{
    text-align: center;
    font-size: 48px;
}



ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.nav-bar li {
   float:left;
}
  
ul.nav-bar li a {
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
ul.nav-bar li a:hover {
    background-color: #111;
}

section{
    background-color: tan;        
}

